body {
    background-color: rgb(44, 51, 53);
    color: rgb(255, 255, 255);
    text-align: justify;
    font-size: 34px;
  } 
  h1 {
    color: rgb(0, 0, 0);
    font-family: "Monaco", "Courier New", monospace;
    text-align: center;  
  }
  h2{
    color: rgb(94, 92, 92);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
  }
  audio{
    align-content: center;
  }
ul {
    text-align: justify;
}
table, th, td {
  border:1px solid black;
}
